.reveal blockquote {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.reveal blockquote:before {
    color: black;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.3em;
    vertical-align: -0.4em;
}

.reveal blockquote p {
    display: inline;
    color: #283593;
    font-style: italic;
}

.reveal .halfpage {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.reveal .halfpage:nth-child(1) {
    color: red;
    margin: 0 1em 0 0;
}

.reveal .halfpage:nth-child(2) {
    color: red;
    margin: 0 0 0 1em;
}

.reveal .twocolumn:before {
    content: "";
    height: 100%;
    left: 0%;
    position: absolute;
    width: 50%;
    z-index: -1;
}

.reveal .twocolumn.black:before {
    background-color: #212121;
}

.reveal .step {
    color: black;
    font-size: 1.5em;
    margin: 0.5ex;
}

.reveal .indigo50 {
    color: #e8eaf6;
}

.reveal .indigo100 {
    color: #c5cae9;
}

.reveal .indigo200 {
    color: #9fa8da;
}

.reveal .indigo300 {
    color: #7986cb;
}

.reveal .indigo400 {
    color: #5c6bc0;
}

.reveal .indigo500 {
    color: #3f51b5;
}

.reveal .indigo600 {
    color: #3949ab;
}

.reveal .indigo700 {
    color: #303f9f;
}

.reveal .indigo800 {
    color: #283593;
}

.reveal .indigo900 {
    color: #1a237e;
}

.reveal .indigoA100 {
    color: #8c9eff;
}

.reveal .indigoA200 {
    color: #536dfe;
}

.reveal .indigoA400 {
    color: #3d5afe;
}

.reveal .indigoA700 {
    color: #304ffe;
}

.reveal .orange50 {
    color: #fff3e0;
}

.reveal .orange100 {
    color: #ffe0b2;
}

.reveal .orange200 {
    color: #ffcc80;
}

.reveal .orange300 {
    color: #ffb74d;
}

.reveal .orange400 {
    color: #ffa726;
}

.reveal .orange500 {
    color: #ff9800;
}

.reveal .orange600 {
    color: #fb8c00;
}

.reveal .orange700 {
    color: #f57c00;
}

.reveal .orange800 {
    color: #ef6c00;
}

.reveal .orange900 {
    color: #e65100;
}

.reveal .orangeA100 {
    color: #ffd180;
}

.reveal .orangeA200 {
    color: #ffab40;
}

.reveal .orangeA400 {
    color: #ff9100;
}

.reveal .orangeA700 {
    color: #ff6d00;
}

.reveal .gray50  {
    color: #fafafa;
}

.reveal .gray100 {
    color: #f5f5f5;
}

.reveal .gray200 {
    color: #eeeeee;
}

.reveal .gray300 {
    color: #e0e0e0;
}

.reveal .gray400 {
    color: #bdbdbd;
}

.reveal .gray500 {
    color: #9e9e9e;
}

.reveal .gray600 {
    color: #757575;
}

.reveal .gray700 {
    color: #616161;
}

.reveal .gray800 {
    color: #424242;
}

.reveal .gray900 {
    color: #212121;
}

.reveal .gray1000 {
    color: #111111;
}

.reveal .deeporange50  {
    color: #fbe9e7;
}

.reveal .deeporange100 {
    color: #ffccbc;
}

.reveal .deeporange200 {
    color: #ffab91;
}

.reveal .deeporange300 {
    color: #ff8a65;
}

.reveal .deeporange400 {
    color: #ff7043;
}

.reveal .deeporange500 {
    color: #ff5722;
}

.reveal .deeporange600 {
    color: #f4511e;
}

.reveal .deeporange700 {
    color: #e64a19;
}

.reveal .deeporange800 {
    color: #d84315;
}

.reveal .deeporange900 {
    color: #bf360c;
}

.reveal .small {
    font-size: 0.8em;
}
.reveal a:not(.image) {
    color: #fafafa;
    text-decoration: underline;
}

.reveal table {
    border: solid 0.07em white;
    border-collapse: collapse;
    padding: 0.1em;
}

.reveal th {
    border: solid 0.05em white;
    padding: 0.2em;
    font-weight: bold;
}

.reveal td {
    border: solid 0.05em grey;
    padding: 0.1em;
    font-weight: lighter;
    text-align: center;
}

.reveal section img.nope {
    background-color: transparent;
    box-shadow: 0 0 0;
    border: none;
    padding: 0;
}

.reveal .person {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.reveal .person .photo {
    width: 33%;
}

.reveal .person .name {
    display: block;
    font-weight: bold;
}

.reveal .person .description {
    font-size: smaller;
}

.reveal .code-wrapper {
    font-size: 0.75em;
    position: relative;
    right: 50%;
    text-align: center;
}

.reveal .code-wrapper.small {
    font-size: 0.7em;
}

.reveal .code-wrapper.smaller {
    font-size: 0.55em;
}

.reveal .code {
    display: inline-block;
    font-family: monospace;
    line-height: 1.25;
    padding: 5px 20px;
    text-align: left;
    overflow: hidden;
    margin-right: -100%;
}

.reveal .badge {
    background-size: cover;
    display: block;
    height: 75px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    width: 75px;
}

.reveal .badge.person {
    left: 75px;
}

/* http://www.webestools.com/web20-badge-generator-free-image-beta-photoshop-web20-badge-generator.html */
.reveal .badge.alert {
    background-image: url('../img/live-code-review/badge-code-01.png');
}

.reveal .badge.code {
    background-image: url('../img/live-code-review/badge-02.png');
}

.reveal .badge.review {
    background-image: url('../img/live-code-review/badge-review-01.png');
}

.reveal .badge.correct {
    background-image: url('../img/live-code-review/badge-correct-01.png');
}

.reveal .badge.alex {
    background-image: url('../img/live-code-review/badge-alex-01.jpg');
}

.reveal .badge.jeremy {
    background-image: url('../img/live-code-review/badge-jeremy-01.jpg');
}

.reveal .highlight {
    font-weight: bold;
    color: red;
}

.speaker-mode .footer,
.speaker-mode .footer {
    display: none;
}

.reveal th,
.reveal td {
    border: 3px solid #fafafa;
}

.reveal em {
    color: #ff6d00;
}

.reveal ul.white li:before {
    color: #cccccc;
}

.reveal mark {
    background-color: #fff;
    color: #000;
}

.reveal mark .hljs-comment,
.reveal mark .hljs-keyword,
.reveal mark .hljs-title {
    color: #000;
}
